# phpstorm project files
.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

output/*
!output/.gitkeep
output_from_xml/*
!output_from_xml/.gitkeep
output_delta/*
!output_delta/.gitkeep
output_from_xml_delta/*
!output_from_xml_delta/.gitkeep
dbf_delta/*
!dbf_delta/.gitkeep
fias_xml_delta/*
!fias_xml_delta/.gitkeep
data/dump/*
!data/dump/.gitkeep

runtime/*
!runtime/.gitkeep

config/db.php