# phpstorm project files
.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

output/*
!output/.gitkeep
output_from_xml/*
!output_from_xml/.gitkeep

runtime/*
!runtime/.gitkeep
